@media screen and (max-width: 767px) {
    /* HEADER */
    #headerTittle, #search{
        display: none;
    }

    #UserMenuMobile, #headerSpace{
        display: flex;
    }

    #logoSpace{
        justify-content: center;
    }

    #UserMenuMobile{
        width: 20%;
        height: 100%;
        align-items: center;
    }

    #headerSpace{
        width: 20%;
    }

    .UserPhotoHeader{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .UserPhotoHeader img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border-radius: 100%;
    }

    /* MAIN */
    #menu,#topics{
        display: none;
    }
    #feed{
        width: 100%;
    }

    /* MENU */
    #navMobile{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 100%;
        height: 60px;
        bottom: 0%;
        background-color: #14171ada;

    }
    .NavOptionMobile{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .optionIconMobile{
        width: 30px;
        height: 30px;
    }
    .optionIconMobile img{
        width: 100%;
        height: 100%;
    }
    /* USERPROFILE */
    #banner{
        height: 200px;
    }

    .userIconProfile{
        width: 100px;
        height: 100px;
        bottom: -50px;
        left: 20px;
    }

    #editProfileSection, #bioProfile{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
}