/* FEED */
#feed{
    width: 45%;
}

.back{
    height: 100%;
    margin-right:40px;
}
.back img{
    width: 100%;
    height: 100%;
}

/* BANNER */

#banner{
    width: 100%;
    height: 400px;
    background-image: url(../../images/banners/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}

.userIconProfile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    bottom: -100px;
    left: 20px;
}
.userIconProfile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}